.DS_Store
node_modules
/dist

# agregando archivo de configuracion que sera ignorado
/src/utils/qpm.config.json
/src/utils/here.json


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
